<section class="header" style="font-family: 'Roboto', sans-serif !important;">
    <div class="row my-3">
        <div class="col-sm-6 page-header">
            <div class="search-wrap  table-search">
                <form class="form-inline">
                </form>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="pull-right">
                <a routerLink="/asset/create-assets" class="btn btn-rounded btn-Request btn-new-request">Create new</a>
            </div>
        </div>
    </div>
</section>
<article class="content">
    <div class="bx-white card p-4 pt-0 my-3 clearfix">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <emp-input-option-list [form]="parentForm" [name]="'category'" [options]="categoryList"
                    (optionValueChange)="getAssetsList($event)">
                    <label>Category</label>
                </emp-input-option-list>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table text-center table-Audit  mb-0 shadow">
                <thead>
                    <tr class="custom thead-dark">
                        <th colspan="7">Assets List</th>
                    </tr>
                </thead>
                <thead class="electricity-list-thead">
                    <tr>
                        <th>Asset Name</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Color</th>
                        <th>Grade</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody class="electricity-list-tbody">
                    <ng-container *ngIf="assetsList && assetsList.length; else noDataFound">
                        <tr *ngFor="let item of assetsList">
                            <td>{{item.category_name}}</td>
                            <td>{{item.brand}}</td>
                            <td>{{item.model}}</td>
                            <td>{{item.color}}</td>
                            <td>{{item.product_grade}}</td>
                            <td>{{item.stock_quantity ? item.stock_quantity : "0"}}</td>
                        </tr>
                    </ng-container>
                    <ng-template #noDataFound>
                        <tr>
                            <td colspan="7">No Entries</td>
                        </tr>
                    </ng-template>
                </tbody>

            </table>
        </div>
    </div>

</article>