<div class="main-wrap">
    <div class="row mt-4">
        <div class="col-lg-6 mb-3 ">
            <div class="bx-white bd-block card px-0 py-3 clearfix shadow-sm" style="height: 300px;overflow: auto; ">
                <h3 class="block-heading">Stock</h3>
                <hr class="mt-0 ">
                <div class="card-body"></div>
            </div>
        </div>
        <div class="col-lg-6 mb-3 ">
            <div class="bx-white bd-block card px-0 py-3 clearfix shadow-sm" style="height: 300px;overflow: auto; ">
                <h3 class="block-heading">Sales</h3>
                <hr class="mt-0 ">
                <div class="card-body"></div>
            </div>
        </div>
    </div>
</div>