@import "../../../../../assets/variable";
@import "../../../../../assets/mixins";
.link {
  color: $info;
  text-decoration: none;
}

.link :hover {
  color: black;
}

.swal2-content {
  font-family: "Roboto", sans-serif !important;
}

.swal2-title {
  font-family: "Roboto", sans-serif !important;
}
