################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/Microservices/UserService/DB/.idea
/Backend/Microservices/PaymentService/WebAPI/.env