<ngx-spinner size="large">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container my-3" style="min-height: 72vh">
    <div class="text-center">
        <div class="col-md-12 col-sm-12">
            <div class="card" *ngFor="let orders of orderLists">
                <div class="card-header text-white bg-info">
                    <div class="text-left">{{orders.flycast_order_number}}</div>
                </div>
                <div class="card-block p-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-custom" src='{{orders.image_url}}'>
                        </div>
                        <div class="col-md-5 text-left pt-3">
                            <strong>Product: </strong> {{orders.sku}}<br>
                            <strong>Quantity: </strong> {{orders.quantity}}<br>
                            <strong>Base Amount: </strong> {{orders.price|currency:'INR'}}<br>
                            <strong>Total Amount: </strong> {{orders.order_total_amount|currency:'INR'}}<br>
                            <strong>Order Date: </strong>{{orders.order_date|date}}<br>
                            <strong>Shipping Address: </strong>{{orders.address_combination}}
                        </div>
                        <div class="col-md-4 text-left pt-3">
                            <strong>Shipping Status: </strong> {{orders.item_shipping_status_name}}<br>
                            <strong>Order Status: </strong> {{orders.order_status_name}}<br></div>
                    </div>
                    <!-- <div class="card-footer"></div> -->
                </div>
            </div>
        </div>
    </div>
</div>