/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

option {
  background-color: color;
  border-radius: value;
  font-size: value;
}
html,
body {
  overflow-x: hidden;
}
