<div class="container-fluid" style="min-height: 70vh;">
    <div class="pt-4 pb-4">
        <div class="row mx-auto">
            <div class="col-lg-3 col-md-3 col-sm-12 my-2">
                <div class="row">
                    <div class="card w-100">
                        <div class="card-header text-white bg-primary">
                            Welcome, {{userName}}
                        </div>
                        <div class="card-body">
                            <!-- <h2 class="dropdown-header">Account Details</h2>
                            <hr class="mt-0"> -->
                            <a class="dropdown-item nav-link pointer" (click)="switchToAccountDetails()">Account
                                Details</a>
                            <a class="dropdown-item nav-link pointer" (click)="switchToAddress()">Manage Addresses</a>

                            <!-- <h2 class="dropdown-header">Order Details</h2>
                            <hr class="mt-0"> -->
                            <a class="dropdown-item nav-link pointer" routerLink="/products/order-list">My Orders</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 my-2">
                <div class="card w-100">
                    <!--Account Details-->
                    <div *ngIf="accountDetailsPage">
                        <div class="card-header text-white bg-primary">
                            Personal Information
                        </div>
                        <div class="card-body">
                            <div class="form-group pl-3">
                                <form [formGroup]="accountDetailsForm">
                                    <label class="control-label"><b>Name</b></label>
                                    <span class="edit-button" (click)=editPersonalInformation(accountDetailsForm)
                                        *ngIf="editPI">Edit</span>
                                    <span class="edit-button" (click)=cancelPersonalInformation()
                                        *ngIf="!editPI">Cancel</span>
                                    <div class="row pb-3">
                                        <div class="col-md-4 col-lg-4 col-sm-12 my-2">
                                            <input #FN type="text" class="form-control" value="{{firstName}}"
                                                name="firstName" formControlName="firstname" [(ngModel)]="firstName"
                                                disabled>
                                        </div>
                                        <div class="col-md-4 col-lg-4 col-sm-12 my-2">
                                            <input #LN type="text" class="form-control" value="{{lastName}}"
                                                name="lastName" formControlName="lastname" [(ngModel)]="lastName"
                                                disabled>
                                        </div>
                                        <div class="col-4 my-2" *ngIf="!editPI">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="form-group pl-3">
                                <form [formGroup]="accountDetailsForm"
                                    (ngSubmit)="updateUserEmailId(accountDetailsForm)">
                                    <label class="control-label"><b>Email Address</b></label>
                                    <span class="edit-button" (click)=editEmailId() *ngIf="editEmailid">Edit</span>
                                    <span class="edit-button" (click)=cancelEmailId() *ngIf="!editEmailid">Cancel</span>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 my-2">
                                            <input #Email type="text" class="form-control" value="{{email}}"
                                                name="emailId" formControlName="email" disabled>
                                        </div>
                                        <div class="col-4 my-2">
                                            <button type="submit" class="btn btn-primary"
                                                *ngIf="!editEmailid">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="form-group pl-3">
                                <form [formGroup]="accountDetailsForm"
                                    (ngSubmit)="updatePhoneNumber(accountDetailsForm)">
                                    <label class="control-label"><b>Phone Number</b></label>
                                    <span class="edit-button" (click)=editUserPhoneNumber()
                                        *ngIf="editPhoneNumber">Edit</span>
                                    <span class="edit-button" (click)=cancelUserPhoneNumber()
                                        *ngIf="!editPhoneNumber">Cancel</span>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 my-2">
                                            <input #PhoneNumber type="number" class="form-control"
                                                value="{{userPhoneNumber}}" name="emailId" formControlName="phoneNumber"
                                                disabled>
                                        </div>
                                        <div class="col-4 my-2">
                                            <button type="submit" class="btn btn-primary"
                                                *ngIf="!editPhoneNumber">Change</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="form-group pl-3 pt-3">
                                <form [formGroup]="accountDetailsForm">
                                    <div class=row>
                                        <div class="col-12">
                                            <div class="test">
                                                <a class="nav-link pointer" (click)="passwordChangeNewWindow()">Click
                                                    here
                                                    to change password</a>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--Manage Address-->
                    <div *ngIf="addressPage">
                        <div class="card-header text-white bg-primary">
                            Personal Information
                        </div>
                        <div class="card-body">
                            <div class="pl-3">
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                    data-target="#exampleModal"><i class="fa fa-plus" aria-hidden="true"></i>
                                    Add Address</button>
                            </div>
                            <div class="text-center p-5" *ngIf="!isAddressAvailable">
                                <h4 class="text-muted">No Addresss Found!</h4>
                            </div>
                            <div *ngIf="isAddressAvailable" class="my-3">
                                <div class="p-3" *ngFor='let addresses of addressList'>
                                    <div class="card">
                                        <div class="card-header text-white bg-info ">
                                            <div class="row">
                                                <div class="col-9">
                                                    <b>{{addresses.contact_person_name}}</b></div>
                                                <div class="col-3">
                                                    <div>
                                                        {{addresses.address_type}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body border">
                                            <div>
                                                <b>Phone Number: {{addresses.contact_phone_number}}</b>
                                            </div>
                                            <br>
                                            {{addresses.address_1}},{{addresses.address_2}}<br>
                                            {{addresses.state_name}}, {{addresses.city_name}}, {{addresses.pincode}}
                                        </div>
                                        <div class="card-footer">
                                            <!-- <a class="pointer card-link">Remove</a> -->
                                            <a class="pointer card-link" data-toggle="modal" data-target="#exampleModal"
                                                (click)="getAddressOnForm(addresses.address_id)">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Add New Address</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group pl-3 pr-3">
                                                <form [formGroup]="newAddressForm"
                                                    (ngSubmit)="addNewAddress(newAddressForm)">
                                                    <div class="row pt-3">
                                                        <div class="col-md-6 col-lg-6 col-sm-12 my-2">
                                                            <input #FN type="text" class="form-control"
                                                                placeholder="Full Name"
                                                                formControlName="contactPersonName"
                                                                [(ngModel)]="contactName">
                                                            <span class="text-danger"
                                                                *ngIf="(addNewAddressFormControl.contactPersonName.touched || newAddressSubmitted) && addNewAddressFormControl.contactPersonName.errors?.required">
                                                                Full name is required
                                                            </span>
                                                        </div>
                                                        <div class="col-md-6 col-lg-6 col-sm-12 my-2">
                                                            <input #FN type="number" class="form-control"
                                                                placeholder="10 Digit Contact Number"
                                                                formControlName="contactPersonPhNo"
                                                                [(ngModel)]="contactNumber">
                                                            <span class="text-danger"
                                                                *ngIf="(addNewAddressFormControl.contactPersonPhNo.touched || newAddressSubmitted) && addNewAddressFormControl.contactPersonPhNo.errors?.required">
                                                                Contact number is required
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row pt-3">
                                                        <div class="col">
                                                            <input type="text" class="form-control"
                                                                placeholder="Address line 1" formControlName="address1"
                                                                [(ngModel)]="address1">
                                                            <span class="text-danger"
                                                                *ngIf="(addNewAddressFormControl.address1.touched || newAddressSubmitted) && addNewAddressFormControl.address1.errors?.required">
                                                                Address 1 is required
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row pt-3">
                                                        <div class="col">
                                                            <input type="text" class="form-control"
                                                                placeholder="Address line 2/Landmark"
                                                                formControlName="address2" [(ngModel)]="address2">
                                                            <span class="text-danger"
                                                                *ngIf="(addNewAddressFormControl.address2.touched || newAddressSubmitted) && addNewAddressFormControl.address2.errors?.required">
                                                                Address 2 is required
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row pt-3 ">
                                                        <div class="col-sm-12 col-lg-4 col-md-4">
                                                            <div class="form-group">
                                                                <select id="state" class="form-control"
                                                                    formControlName="state"
                                                                    (change)="selectCityOnStateId($event)"
                                                                    [(ngModel)]="stateName">
                                                                    <option [ngValue]="null" value='0'>
                                                                        --Select State--
                                                                    </option>
                                                                    <option *ngFor='let state of stateList;let i =index'
                                                                        value={{state.id}}>
                                                                        {{state.state_name}}
                                                                    </option>
                                                                </select>
                                                                <span class="text-danger"
                                                                    *ngIf="(addNewAddressFormControl.state.touched || newAddressSubmitted) && addNewAddressFormControl.state.errors?.required">
                                                                    State is required
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-lg-4 col-md-4">
                                                            <div class="form-group">
                                                                <select id="city" class="form-control"
                                                                    formControlName="city" [(ngModel)]="cityName">
                                                                    <option [ngValue]="null" value='0'>--Select
                                                                        City--</option>
                                                                    <option *ngFor='let city of cityList;let i =index'
                                                                        value={{city.id}}>
                                                                        {{city.city_name}}
                                                                    </option>
                                                                </select>
                                                                <span class="text-danger"
                                                                    *ngIf="(addNewAddressFormControl.city.touched || newAddressSubmitted) && addNewAddressFormControl.city.errors?.required">
                                                                    City is required
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-lg-4 col-md-4">
                                                            <input type="number" class="form-control"
                                                                placeholder="Pincode" formControlName="pinCode"
                                                                [(ngModel)]="pincode">
                                                            <span class="text-danger"
                                                                *ngIf="(addNewAddressFormControl.pinCode.touched || newAddressSubmitted) && addNewAddressFormControl.pinCode.errors?.required">
                                                                Pincode is required
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row pt-3 ">
                                                        <div class="col-sm-12 col-lg-9 col-md-9">
                                                            <div class="row pl-3">
                                                                <label class="form-check-label pr-3"
                                                                    for="exampleRadios1">
                                                                    <b>Address Type:</b>
                                                                </label>
                                                                <div class="form-check pr-3">
                                                                    <input class="form-check-input" type="radio"
                                                                        formControlName="addressType"
                                                                        [(ngModel)]="addressType" id="exampleRadios1"
                                                                        value="Residential" checked>
                                                                    <label class="form-check-label"
                                                                        for="exampleRadios1">
                                                                        Residential
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio"
                                                                        formControlName="addressType"
                                                                        [(ngModel)]="addressType" id="exampleRadios2"
                                                                        value="Commercial">
                                                                    <label class="form-check-label"
                                                                        for="exampleRadios2">
                                                                        Work
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-sm-12 my-3">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value=1
                                                                    formControlName="isDefault" id="defaultAddress">
                                                                <label class="form-check-label" for="defaultCheck1">
                                                                    Default Address
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row pt-3 ">
                                                        <div class="col-12">
                                                            <input type="text" class="form-control"
                                                                placeholder="Delivery Instructions"
                                                                formControlName="deliveryInstructions"
                                                                [(ngModel)]="deliveryInstructions">
                                                        </div>
                                                    </div>
                                                    <div class="row pt-3 ">
                                                        <div class="col-6">
                                                            <button type="submit" class="btn btn-primary">Save
                                                                Address</button>
                                                        </div>
                                                        <div class="col-6">
                                                            <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>