<!-- for-mobile -->
<div class="mobile_topbar shadow-sm" style="background: #33b5e5;">
    <div class="mobile_topbar-cont d-flex align-items-center justify-content-between">
        <div class="logo">
            <a class="" href="#">
                <img src="../../../../assets/images/admin-img/logo.png" alt="" class="mt-2"></a>
        </div>
        <span class="hamb"><a href="#"></a></span>
    </div>

</div>
<!-- for-desktop -->
<div class="top_bar d-flex align-items-center justify-content-between shadow-sm" style="background: #33b5e5;">
    <div class="heading page-header">
        <!-- <h2 class="page-heading">{{header.headerStrong}} {{header.headerText}}</h2> -->
    </div>
    <div class="header-right clearfix totalheader">
        <div class="right-user" #logoutDiv>
            <span class="info-user ps-relative" (click)="clickEvent()">
                <span class="img-user">
                    <img src="../../../../assets/images/user-img-45x45.png" alt="">
                </span>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                <div class="profile_dropdown" [ngClass]="status ? 'open_menu' : 'close_menu'">
                    <ul>
                        <button class="cmn_btn profile_btn" (mousedown)="logout()"><i
                                class="fa fa-sign-out"></i>logout</button>

                    </ul>
                </div>
            </span>
        </div>
    </div>
</div>