<footer id="sticky-footer" class="py-3 bg-dark-black ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-8 menu-footer">
                <ul>
                    <li><a href="/dashboard"></a></li>
                    <!-- <li><a href="#">Blog</a></li>
                     <li><a href="#">Intranet Social Media</a></li>
                    <li><a href="#">Content Management</a></li>
                    <li><a href="#">Knowledge Management</a></li>
                    <li><a href="#">Upcoming Events</a></li> -->
                </ul>
            </div>
            <small class="col-lg-4">2020 © Flycast. ALL Rights Reserved. </small>
        </div>
    </div>
</footer>