<div class="container-fluid navbar-background">
  <!-- <nav class="navbar-dark bg-dark navbar-inverse navbar-expand-md"> -->
  <nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <!--<img src="" >-->Flycast-e-com-logo</a>
    </div>

    <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collpase navbar-collapse" id="navbarToggler">

      <form class="navbar-form form-padding">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" style="margin-right: 5px;">

          <!-- <div class="input-group-btn" style="padding-left: 0%;"> -->
            <button class="btn btn-light button-search" type="submit">Search
              <!-- <i class="glyphicon glyphicon-search"></i> -->
            </button>
          <!-- </div> -->
        </div>

      </form>
      <div class="rightMenu" *ngIf="!isRegistered">
        <ul class="nav navbar-nav" style="float: right;">
          <li><a href="#" class="nav-link"><span class="glyphicon glyphicon-user"></span> Register | </a></li>
          <li><a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
      <div class="rightMenu" *ngIf="isRegistered">
        <ul class="nav navbar-nav" style="float: right;">
        <li><a href="#" class="nav-link"><span class="glyphicon glyphicon-user"></span> {{userName}}</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div>
  <nav class="navbar bg-danger navbar-dark navbar-expand-md">
    <div class="collpase navbar-collapse" id="navbarToggler">
      <ul class="nav navbar-nav" style="display: inline-flex;">
        <!-- <li class="active nav-item">
          <a href="#" class="nav-link">Home</a>
        </li> -->
        <li class="dropdown nav-item">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button">Shop By Department
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Drones</a>
            <a class="dropdown-item" href="#">Drones</a>
            <a class="dropdown-item" href="#">Drones</a>
          </div>
        </li>
        <li class="nav-item"><a href="#" class="nav-link"><b>Sell on Flycast </b> </a></li>
        <li class="nav-item"><a href="#" class="nav-link">Track Your Order </a></li>
        <li class="nav-item"><a href="#" class="nav-link">Blog </a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact Us </a></li>
      </ul>
    </div>
  </nav>
</div>