<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm"
  style="font-family: 'Roboto', sans-serif !important;">
  <a class="navbar-brand" href="#"><img src="./../../../../../assets/img/slide/Logo/FC j.png" class="img-fluid"
      style="height: 60px; width: 170px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mr-4 pr-5">
      <!-- <li class="nav-item active">
        <a class="nav-link nav-text" href="#">Sell on flycast<span class="sr-only">(current)</span></a>
      </li> -->
      <div class="row">
        <div class="pl-3 pr-3">
          <li class="nav-item active">
            <a class="nav-link nav-text pt-0" data-toggle="tooltip" data-placement="bottom" title="Cart"
              routerLink="/products/cart-items"><i class="fa fa-shopping-cart fa-2x"></i><span
                class="badge badge-pill badge-primary">{{cartItemsCount}}</span><span
                class="sr-only">(current)</span></a>
          </li>
        </div>
        <div>
          <li class="nav-item active" [style.display]="!getUserDetails() ? 'block':'none'">
            <a class="nav-link nav-text pt-1" routerLink="/login">Login \ Registration</a>
          </li>
          <li class="nav-link pt-1" [style.display]="getUserDetails() ? 'block':'none'">
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle pt-0 nav-text" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [userName]="userName">
                {{userName}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/users" (click)="gotoMyAccount()">Go To Account</a>
                <a class="dropdown-item" routerLink="/products/order-list">Orders</a>
                <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
              </div>
            </div>
          </li>
        </div>
      </div>
    </ul>
  </div>
</nav>