.navbar-background {
    padding: 0%;
}

.container-fluid {
    padding-top: 0px;
}

.glyphicon {
    color    : black;
    font-size: 25px;
}

.button-search {
    height      : 100%;
    padding-left: 20px;
}

.form-padding {
    padding-left : 15px;
    padding-right: 15px;
}

.rightMenu {
    margin-left     : 5px;
    margin-top      : 5px;
    height          : auto;
    width           : 250px;
    padding         : 2px;
    float           : right;
}