<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm"
  style="font-family: 'Roboto', sans-serif !important;">
  <a class="navbar-brand" href="#"><img src="./../../../../../assets/img/slide/Logo/FC j.png" class="img-fluid"
      style="height: 60px; width: 170px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link nav-text" href="#">Sell on flycast<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-text" routerLink="/products/cart-items">Cart<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" [style.display]="!getUserDetails() ? 'block':'none'">
        <a class="nav-link nav-text" routerLink="/login" href="#">Login \ Register<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-link pt-1" [style.display]="getUserDetails() ? 'block':'none'">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle pt-0" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [userName]="userName">
            {{userName}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/users">Go To Account</a>
            <a class="dropdown-item" routerLink="/products/order-list">Orders</a>
            <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>