<section class="header" style="font-family: 'Roboto', sans-serif !important;">
    <div class="row my-3">
        <div class="col-sm-6 page-header">
            <div class="search-wrap  table-search">
                <form class="form-inline">
                </form>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="pull-right">
                <a routerLink="/attribute/create-attribute" class="btn btn-rounded btn-Request btn-new-request mr-2">
                    new attribute</a>
                <a routerLink="/attribute/category-attribute" class="btn btn-rounded btn-Request btn-new-request mr-2">
                    Category Attribute</a>
                <a routerLink="/attribute/attribute-possible-value" class="btn btn-rounded btn-Request btn-new-request">
                    Attribute Possible Value</a>
            </div>
        </div>
    </div>
</section>
<article class="content">
    <div class="bx-white card p-4 pt-0 my-3 clearfix">
        <form [formGroup]="parentForm">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <emp-input-option-list [form]="parentForm" [name]="'category'" [options]="categoryList"
                        (optionValueChange)="getAttribute($event)">
                        <label>Category</label>
                    </emp-input-option-list>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table text-center table-Audit  mb-0 shadow">
                <thead>
                    <tr class="custom thead-dark">
                        <th colspan="7">Attribute List</th>
                    </tr>
                </thead>
                <thead class="electricity-list-thead">
                    <tr>
                        <th>Category</th>
                        <th>attribute name</th>
                        <th>attribute description</th>
                    </tr>
                </thead>
                <tbody class="electricity-list-tbody">
                    <ng-container *ngIf="attributeList && attributeList.length; else noDataFound">
                        <tr *ngFor="let entry of attributeList">
                            <td>{{entry.category_name}}</td>
                            <td>{{entry.attribute_name}}</td>
                            <td>{{entry.attribute_description ? entry.attribute_description : 'NA'}}</td>
                        </tr>
                    </ng-container>
                    <ng-template #noDataFound>
                        <tr>
                            <td colspan="5">No Entries</td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</article>