.no-data-found {
    text-align: center;
}

.audittrail-heding {
    //margin: 10px 0;
    background: #fff;
    display: inline-block;
    padding: 8px 21px;
    border-radius: 3px 3px 0px 0px;
    color: #100d0d;
    cursor: pointer;
    width: 100%;
    opacity: 1;
    // i{
    //     margin-left: 4px;
    //     font-size: 11px;
    // }
    // :hover {
    //     color: 
    // }
}

.audittrail-tble {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
}

.bx-white {
    .open {
        margin-bottom: 0px;
    }
    .close {
        margin-bottom: 15px;
    }
}

.decorated {
    overflow: hidden;
    padding-left: 80px !important;
}

.decorated>span {
    position: relative;
    display: inline-block;
}

.decorated>span:before {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid blue;
    width: 1000px;
    /* half of limiter*/
    margin: 0 20px;
}

.decorated>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid blue;
    width: 1000px;
    /* half of limiter*/
    margin: 0 20px;
}

.decorated>span:before {
    right: 100%;
}

.decorated>span:after {
    left: 100%;
}

.font-5 {
    font-size: 15px;
}

.font-6 {
    font-size: 14px;
}

.padding-workflow {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}