<!-- git  -->
<nav class="navbar" style="font-family: 'Roboto', sans-serif">
    <div class="logo">
        <a class="" href="#"><img src="../../../../assets/images/admin-img/logo.png" alt=""
                style="width: 85%; height:58px"></a>
    </div>
    <div class="profile-left text-center">
        <!-- <figure class="img-profile"><img src="../../../../assets/images/admin-img/MK-logo.png" alt="" class="border">
        </figure>
        <h2 class="user-name">Admin</h2> -->
    </div>
    <div class='cssmenu'>
        <ul id="accordion" style="font-family: 'Roboto', sans-serif; font-size: 14px;">
            <li class="Sub" routerLink="/dashboard" style="outline: none"><span><i class="menu-01"></i>Dashboard</span>
            </li>
            <li class="Sub" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">
                <span><i class="menu-02"></i><a>Product</a></span></li>
            <ul class="selected" class="collapse sub-menu" id="collapseExample">
                <li (click)="subMenu()"><a routerLink="/asset/assets-list">Assets</a> </li>
            </ul>
            <li class="Sub" data-toggle="collapse" href="#collapseAttribute" aria-expanded="false"
                aria-controls="collapseAttribute">
                <span><i class="menu-03"></i><a>Others</a></span></li>
            <ul class="selected" class="collapse sub-menu" id="collapseAttribute">
                <li (click)="subMenu()"><a routerLink="/category/category-list">Category</a> </li>
                <li (click)="subMenu()"><a routerLink="/attribute/attributes-list">Features</a> </li>
                <li (click)="subMenu()" routerLink="/sku/sku-list"><a>SKU</a> </li>
            </ul>
        </ul>
    </div>
</nav>