<div class="cmn_auth">
  <div class="w-100 h-100 d-flex align-items-center justify-content-center flex-column">
    <h2 class="cmn_auth-heading">Reset Your Password</h2>
    <div class="cmn_auth-form d-flex align-items-center justify-content-center flex-column">
      <form [formGroup]="forgetPasswordForm" class="w-100">
        <emp-input-field [identifier]="'loginUsername'" [placeholder]="'enter your email'"
                         [name]="'email'" validation="true" [form]="forgetPasswordForm">
          <label>Enter your email</label>
        </emp-input-field>
        <emp-button [identifier]="'submitLogin'" [buttonDisable]="!forgetPasswordForm.valid"
                    (buttonClicked)="resetPasswoord()">
          Reset Password</emp-button>
      </form>
      <div class="register text-center mt-15"></div>
    </div>

  </div>
</div>
