<ngx-spinner size="large">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container-fluid" style="padding: 0;">
    <div class="banner container-fluid">
        <!-- <div class="banner-text">Mobile Drone Accessories</div> -->
    </div>

    <div>
        <div class="row my-4">
            <div class="col-12 text-center">
                <p class="product-text"></p>
            </div>
            <div class="col-md-4 col-lg-4 col-12 text-center my-3">
                <div class="card mx-auto">
                    <img class="card-img-top" src="{{categoryMobile}}" alt="Card image cap" style="height: 10.5rem;">
                    <div class="card-body">
                        <h5 class="card-title">Mobiles</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p> -->
                        <a (click)=getAllAssets(1) class="btn btn-primary text-white">Explore More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-12 text-center my-3">
                <div class="card mx-auto">
                    <img class="card-img-top" src="{{categoryDrone}}" alt="Card image cap" style="height: 10.5rem;">
                    <div class="card-body">
                        <h5 class="card-title">Drones</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p> -->
                        <a (click)=getAllAssets(2) class="btn btn-primary text-white">Explore More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-12 text-center my-3">
                <div class="card mx-auto">
                    <img class="card-img-top" src="{{categoryAccessories}}" alt="Card image cap"
                        style="height: 10.5rem;">
                    <div class="card-body">
                        <h5 class="card-title">Accessories</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p> -->
                        <a (click)=getAllAssets(3) class="btn btn-primary text-white">Explore More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>