<div class="container-fluid full-footer p-md-3 p-1 " style="font-family: 'Roboto', sans-serif !important;">
    <div class="row">
        <div class="col-md-3" style="font-size: 12px;">
            <!-- <label class="nav-link"><span class="glyphicon glyphicon-user"></span> Contact Us</label> -->
            <ul>
                <li>
                    <h5 href="#" class="nav-link"><span class="glyphicon glyphicon-user"></span> Contact Us </h5>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Call us 24/7</a>
                </li>
                <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span><i
                            class="fa fa-phone"></i>98501236654</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Address</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> someone@flycast.io</a>
                </li>
                <li>
                    <a style="color: blanchedalmond;" href="https://www.facebook.com/">
                        <i class="fa fa-facebook ml-3 mr-3" aria-hidden="true"></i></a>
                    <a style="color: blanchedalmond;" href="https://www.facebook.com/">
                        <i class="fa fa-twitter-square mr-3"></i></a>
                    <a style="color: blanchedalmond;" href="https://www.facebook.com/">
                        <i class="fa fa-instagram mr-3"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-md-3" style="font-size: 12px;">
            <ul>
                <li>
                    <h5 href="#" class="nav-link"><span class="glyphicon glyphicon-user"></span> Quick Links </h5>
                </li>
                <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Disclaimer</a>
                </li>
                <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span>Privacy Policy1</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Terms & Conditions</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Terms of Use</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> T&C for Ordering of Drone
                        Parts</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3" style="font-size: 12px;">
            <ul>
                <li>
                    <h5 href="#" class="nav-link"><span class="glyphicon glyphicon-user"></span> Company </h5>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> About Us</a>
                </li>
                <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span>Use of the Platform</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> FAQs</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span>Membership Eligibility</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span>Account and Registration
                        Obligations</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3" style="font-size: 12px;">
            <ul>
                <li>
                    <h5 href="#" class="nav-link"><span class="glyphicon glyphicon-user"></span>Bussiness</h5>
                </li>
                <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span>Shop</a>
                </li>
                <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span>Become a Vendor</a>
                </li>
                <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Flycast’s Replacement
                        Guarantee</a>
                </li>
                <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Shipping and
                        Cancellation
                        Policy</a>
                </li>
                <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Payment
                        Information</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-center" style="font-size: 12px;">
                Copyright © Flycast 2020
            </p>
        </div>
    </div>
</div>