<div class="container-fluid full-footer p-md-3 p-1 " style="font-family: 'Roboto', sans-serif !important;">
    <div class="row">
        <div class="col-md-4 col-sm-12" style="font-size: 12px;">
            <!-- <label class="nav-link"><span class="glyphicon glyphicon-user"></span> Contact Us</label> -->
            <ul>
                <li>
                    <h5 class="nav-link"><span class="glyphicon glyphicon-user"></span> Contact Us </h5>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Call us 24/7<br><i
                            class="fa fa-phone"></i>+91-9073681590</a>
                </li>
                <li>
                    <a class="nav-link" style="width: 100%;"><span class="glyphicon glyphicon-log-in"></span>
                        <div>
                            <b>Address</b>: <br>282
                            Pulin
                            Avenue
                            Rajbari, <br>Near airport gate no
                            2.5,<br>Kolkata - 700081
                        </div>
                        <span><iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.07861487797!2d88.43172541543991!3d22.650857335800907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89e51a7a0945f%3A0x4fdf67c399d48667!2sAishwarya%20Apartment%2C%20282%2C%20Pulin%20Ave%2C%20Motilal%20Colony%2C%20Rajbari%2C%20Dum%20Dum%2C%20Kolkata%2C%20West%20Bengal%20700081!5e0!3m2!1sen!2sin!4v1607500606518!5m2!1sen!2sin"
                                width="200" height="150" frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe></span>
                    </a>

                </li>
                <li>

                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> someone@flycast.io</a>
                </li>
                <li>
                    <a style="color: blanchedalmond;" target="_blank"
                        href="https://www.linkedin.com/company/aeronext-technologies/?viewAsMember=true">
                        <i class="fa fa-linkedin-square ml-3 mr-3 fa-2x" aria-hidden="true"></i></a>
                    <a style="color: blanchedalmond;" target="_blank" href="https://twitter.com/flycast_fly">
                        <i class="fa fa-twitter-square mr-3 fa-2x"></i></a>
                    <a style="color: blanchedalmond;" target="_blank" href="https://www.instagram.com/_flycast/">
                        <i class="fa fa-instagram mr-3 fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-12" style="font-size: 12px;">
            <ul>
                <li>
                    <h5 class="nav-link"><span class="glyphicon glyphicon-user"></span> About Us </h5>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Flycast (Unit of Mikros Kosmos
                        Pvt. Ltd.) established in November 2018 in Kolkata, India, got its first incubation in December
                        2018. <br>

                        Flycast is one of the India leading performance drone companies.<br>

                        We are a team of pioneers, voyagers and storytellers.<br>

                        Our diverse team has over 8 years’ experience within the UAV technology. We work with clients to
                        unlock the most creative approach to telling their stories. We are flexible and collaborative.
                        Whether we are working within a busy show environment or taking centre stage and flying solo the
                        story and how we help tell it remains at the heart of what we do. </a>
                </li>
                <!-- <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span>Privacy Policy1</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Terms & Conditions</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Terms of Use</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> T&C for Ordering of Drone
                        Parts</a>
                </li> -->
            </ul>
        </div>
        <!-- <div class="col-md-2 col-sm-12" style="font-size: 12px;">
            <ul>
                <li>
                    <h5 class="nav-link"><span class="glyphicon glyphicon-user"></span> Company </h5>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> About Us</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span>Use of the Platform</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span> FAQs</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span>Membership Eligibility</a>
                </li>
                <li>
                    <a class="nav-link"><span class="glyphicon glyphicon-log-in"></span>Account and Registration
                        Obligations</a>
                </li>
            </ul>
        </div> -->
        <div class="col-md-4 col-sm-12" style="font-size: 12px;">
            <ul>
                <li>
                    <h5 href="#" class="nav-link"><span class="glyphicon glyphicon-user"></span>Bussiness</h5>
                </li>
                <li>
                    <a (click)='showAlert()' style="cursor: pointer;" class="nav-link"><span
                            class="glyphicon glyphicon-log-in"></span>Sell on Flycast</a>
                </li>
                <!-- <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span>Become a Vendor</a>
                </li>
                <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Flycast’s Replacement
                        Guarantee</a>
                </li>
                <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Shipping and
                        Cancellation
                        Policy</a>
                </li>
                <li>
                    <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Payment
                        Information</a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-center" style="font-size: 12px;">
                Copyright © Flycast 2020
            </p>
        </div>
    </div>
</div>