<div></div>
<div>
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <h5><b>Log in</b></h5> 
        <div class="card bg-dark text-white">
          <div class="card-body">
            <form (ngSubmit)="formLogin()" [formGroup]="loginForm">
              <div class="form-group">
                <input type="text" formControlName="username" placeholder="Username or email address" id="uname" class="form-control" required>
              </div>
              <div class="form-group">
                <input type="password" formControlName="password" placeholder="Password" id="psw" class="form-control" required>
              </div>
              <div class="checkbox">
                <span class="psw"><a href="#">Forgot Password?</a></span>
              </div>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
              <div class="form-group">
                <button type="submit" class="btn btn-success">Login</button>
              </div>
            </form>

          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</div>