<article class="content card mb-4 mt-4" style="font-family: 'Roboto', sans-serif !important;">
    <form [formGroup]="possibleValuForm" class="emp-form-group">
        <div class="form-row">
            <div class="col-lg-12 col-md-12 card px-0">
                <div class="card-header block-heading">Create Possible value of attribute</div>
                <div class="card-body">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <emp-input-option-list [form]="possibleValuForm" [name]="'category'" required="required"
                                    validation="true" [options]="categoryList"
                                    (optionValueChange)="selectedCategory($event)">
                                    <label>Category</label>
                                </emp-input-option-list>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <emp-input-option-list [form]="possibleValuForm" [name]="'attribute_id'"
                                    required="required" validation="true" [options]="attributeList"
                                    (optionValueChange)="selectedAttribute($event)">
                                    <label>Feature</label>
                                </emp-input-option-list>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="row">
                                    <div class="col-12">
                                        <label>Possible Values</label>
                                    </div>
                                    <div class="col-12">
                                        <ng-container formArrayName="attribute_values"
                                            *ngFor="let item of attributeFormArray.controls; let i = index">
                                            <div class="d-flex">
                                                <div class="custom_form_warpper w-75" [formGroupName]="i">
                                                    <input type="text" formControlName="possible_value">
                                                    <div *ngIf="isSubmitted && possibleValuForm.controls.attribute_values['controls'][i]['controls'].possible_value.errors"
                                                        style="color: red;">
                                                        <div
                                                            *ngIf="isSubmitted && possibleValuForm.controls.attribute_values['controls'][i]['controls'].possible_value.errors.required">
                                                            This field is required
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="w-25 text-center">
                                                    <button type="button" class="btn btn-danger"
                                                        (mousedown)="removeItem(i)" *ngIf="i!=0"><i class="fa fa-close"
                                                            style="font-size:17px; height: auto;"></i></button>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="col-12  mb-5 btn-wrap">
                                        <button type="button" class="btn btn-success"
                                            (mousedown)="addAttributeFrom()">More
                                            Values</button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center col-md-12  mt-4 btn-wrap">
                                <button type="button" class="btn btn-Submit mx-1 btn-sm"
                                    (mousedown)="submitForm()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</article>