<div class="cmn_auth">
    <div class="w-100 h-100 d-flex align-items-center justify-content-center flex-column">
        <h2 class="cmn_auth-heading">Reset Your Password</h2>
        <div class="cmn_auth-form d-flex align-items-center justify-content-center flex-column">
            <div *ngIf="errorMessageToken !== ''" class="alert alert-danger">
                {{errorMessageToken}}
            </div>
            <div *ngIf="passwordResetErrorMessage !== ''" class="alert-danger alert">
                {{passwordResetErrorMessage}}
            </div>
            <form [formGroup]="resetPasswordForm" class="w-100" (ngSubmit)="resetPassword()" [style.display]="validToken ? 'block' : 'none'">
                <div *ngIf="errorMessage !== ''" class="alert alert-danger">
                    {{errorMessage}}
                </div>
                <div class="form-group form_warpper">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="newPassword"><br>
                    <span style="font-size: 12px;font-style: italic;">[Password should be 8 - 25 character long,<br>Must contain at least one number, letter and special symbol (#,@,$)]</span>
                    <div *ngIf="isSubmitted && passwordControl.newPassword.errors" style="color: red; font-size: 12px">
                        <div *ngIf="isSubmitted && passwordControl.newPassword.errors.required">
                            This field is required
                        </div>
                        <div *ngIf="isSubmitted && passwordControl.newPassword.errors.pattern">
                            Password should be 8 - 25 character long<br> contain at least one number, letter and special symbol (#,@,$)
                        </div>
                    </div>
                </div>
                <!--<emp-input-field [identifier]="'loginUsername'" [placeholder]="'New password'"
            [name]="'newPassword'" validation="true" [form]="resetPasswordForm" [type]="'password'">
            <label>Enter new password</label>
        </emp-input-field>-->
                <!--<emp-input-field [identifier]="'loginUsername'" [placeholder]="'Confirm password'"
            [name]="'confirmPassword'" validation="true" [form]="resetPasswordForm" [type]="'password'">
            <label>Enter Confirm password</label>
        </emp-input-field>-->
                <div class="form-group form_warpper">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword">
                    <div *ngIf="isSubmitted && passwordControl.confirmPassword.errors" style="color: red; font-size: 12px">
                        <div *ngIf="isSubmitted && passwordControl.confirmPassword.errors.required">
                            This field is required
                        </div>
                    </div>
                </div>
                <!--<emp-button [identifier]="'submitLogin'" [buttonDisable]="!resetPasswordForm.valid"
            (buttonClicked)="resetPasswoord()" routerLink="/auth/reset-password">
            Reset Password</emp-button>-->
                <button type="submit" class="btn btn-primary btn-block button-style mt-2" (buttonClicked)="resetPassword()">Reset Password
        </button>
            </form>
            <div class="register text-center mt-15"></div>
        </div>

    </div>
</div>