<ngx-spinner size="large">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-fluid">
    <div class="card mt-3 mb-3">
        <div class="card-body">
            <div class="row" *ngFor='let product of productDetails'>
                <!-- <div class="media">
                    <div class="col-md-4 col-sm-12">
                        <div class="media-left product-allignment-center">
                            <div style="height:inherit;width:inherit">
                                <img src="{{product.image_url}}" style="height: 25.5rem;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 product-allignment-center">
                                <button type="button" class="btn btn-primary">Add To Cart</button>
                            </div>
                            <div class="col-6 product-allignment-center">
                                <button type="button" class="btn btn-success">Buy Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12"></div>
                </div> -->
                <div class="col-md-4 col-sm-12">
                    <div class="card" style="border: none;">
                        <div class="card-body product-allignment-center">
                            <div style="height:inherit;width:inherit">
                                <img src="{{product.image_url}}" style="height: 25.5rem;">
                            </div>
                        </div>
                        <div class="card-footer" style="border: none; background-color: white;">
                            <div class="row d-flex justify-content-center">
                                <div *ngIf="IsAvailable;then availableBtn else outOfStockBtn"></div>
                                <ng-template #availableBtn>
                                    <div class="col-6 product-allignment-center">
                                        <button type="button" class="btn btn-primary" (click)="addToCart()">Add To
                                            Cart</button>
                                    </div>
                                    <!-- <div class="col-6 product-allignment-center">
                                        <button type="button" class="btn btn-success">Buy Now</button>
                                    </div> -->
                                </ng-template>
                                <ng-template #outOfStockBtn>
                                    <div class="col-6 product-allignment-center">
                                        <button type="button" class="btn btn-primary" disabled="disabled"
                                            (click)="addToCart()">Add To
                                            Cart</button>
                                    </div>
                                    <!-- <div class="col-6 product-allignment-center">
                                        <button type="button" class="btn btn-success" disabled="disabled">Buy
                                            Now</button>
                                    </div> -->
                                </ng-template>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="card" style="border: none;">
                        <div class="card-body">
                            <div style="height:inherit;width:inherit">
                                <h3 class="media-heading">{{product.brand}} {{product.model}}</h3>
                                <!-- <p>
                                    <star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black"
                                        size="24px" readonly="false" (rate)="onRate($event)"></star-rating>
                                </p> -->
                                <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                                    (onHover)="hoveringOverRating($event)" (onLeave)="resetStar()"
                                    (click)="updateRating()" [titles]="['Star 1','Star 2','Star 3','Star 4','Star 5']">
                                </rating>
                                <button class="label"
                                    [ngClass]="{'label-warning': overStar<2, 'label-info': overStar>=2 && overStar<4, 'label-success': overStar>=4}"
                                    [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}">{{overStar}}
                                    star
                                </button>
                                <p>Colour: {{product.color}}</p>
                                <p>Condition: {{product.product_grade}}</p>
                                <h4>Price: {{product.price|currency:"INR"}}</h4>
                                <div *ngIf="IsAvailable;then available else outOfStock"></div>
                                <ng-template #available>
                                    <p class="text-success">Available</p>
                                </ng-template>
                                <ng-template #outOfStock>
                                    <p class="text-danger">Out of Stock</p>
                                </ng-template>
                            </div>
                            <span>Quantity: </span>
                            <select class="dropdown" (change)="changeQuantity($event.target.value)">
                                <option value=1 selected>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>