<ngx-spinner size="large">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-fluid body-background">
    <div class="row pt-3 pb-3">
        <!--Product Lists-->
        <div class="col-md-12 col-sm-12 ">
            <div class="text-center text-white display-4" style="border: none;">
                {{productCategoryName}}
            </div>
            <div class="card-group p-1">
                <div class="col-md-3" *ngFor="let products of productDetails">
                    <div class="card">
                        <div class="image">
                            <img src="{{products.image_url}}" class="img-responsive" style="height: 16rem"
                                (click)="getProductDetailsBySKU(products.sku)" />
                        </div>
                        <div class="card-inner">
                            <div class="header">
                                <h2><a (click)="getProductDetailsBySKU(products.sku)">{{products.brand}}
                                        {{products.model}}</a></h2>
                                <h3>{{products.price|currency:'INR'}}</h3>
                            </div>
                            <div class="content">
                                <p>Colour: {{products.color}}</p>
                                <p>Grade: {{products.product_grade}}</p>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#product_view" (click)="quickViewProductsById(content, products)">
                                <i class="fa fa-search"></i>
                                Quick View</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Modal-->
<ng-template #content let-modal class="modal fade product_view" id="product_view">
    <!-- <div class="container-fluid"> -->
    <!-- <div class="modal-header">
        <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
        <h3 class="modal-title">HTML5 is a markup language</h3>
    </div> -->
    <div class="modal-body">
        <div class="row" *ngFor="let product of productInModal">
            <div class="col-md-6 product_img">
                <img src="{{product.image_url}}" class="img-responsive img-position">
            </div>
            <div class="col-md-6 product_content">
                <h4><span>{{product.brand}} {{product.model}}</span></h4>
                <div class="rating">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    (10 reviews)
                </div>
                <p>{{product.description}}</p>
                <h3 class="cost"><span class="glyphicon glyphicon-usd"></span>{{product.price|currency:'INR'}}
                    <!-- <small class="pre-cost">
                        <span class="glyphicon glyphicon-usd"></span> 60.00
                    </small> -->
                </h3>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <p>Colour: {{product.color}}</p>
                        <p>Grade: {{product.product_grade}}</p>
                        <p>Quantity Available: {{product.stock_quantity}}</p>
                        <!-- <select class="form-control" name="select">
                            <option value="" selected="">Color</option>
                            <option value="black">{{product.color}}</option>
                            <option value="white">White</option>
                            <option value="gold">Gold</option>
                            <option value="rose gold">Rose Gold</option>
                        </select> -->
                    </div>
                </div>
                <div class="space-ten"></div>
                <!-- <div class="btn-ground">
                    <button type="button" class="btn btn-primary"><span
                            class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
                </div> -->
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div> -->
</ng-template>