<section class="header" style="font-family: 'Roboto', sans-serif !important;">
    <div class="row my-3">
        <div class="col-sm-6 page-header">
            <div class="search-wrap  table-search">
                <form class="form-inline">
                </form>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="pull-right">
                <a routerLink="/drone/add-drone" class="btn btn-rounded btn-Request btn-new-request">Create new</a>
            </div>
        </div>
    </div>
</section>
<article class="content">
    <div class="bx-white card p-0 pt-0 my-3 clearfix">
        <div class="table-responsive">
            <table class="table text-center table-Audit  mb-0 shadow">
                <thead>
                    <tr class="custom thead-dark">
                        <th colspan="7">Drones</th>
                    </tr>
                </thead>
                <thead class="electricity-list-thead">
                    <tr>
                        <th>IMEI</th>
                        <th>Company</th>
                        <th>Brand</th>
                        <th>Color</th>
                        <th>Storage</th>
                        <th>Price</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody class="electricity-list-tbody">
                    <ng-container>
                        <tr>
                            <td>123456789</td>
                            <td>Apple</td>
                            <td>iPhone 7</td>
                            <td>Black</td>
                            <td>64 GB</td>
                            <td>32000</td>
                            <td></td>
                        </tr>
                    </ng-container>
                </tbody>

            </table>
        </div>
    </div>

</article>